@(userForm: Form[models.EnhancedUserData], message: String)(implicit messages: Messages)
<!--Takes a form a message (to allow use of form to pass message to controller)-->
@main(message){
    <h4>@message</h4>
    @helper.form(action = routes.UserController.addUser){
        @helper.inputText(userForm("userName"), '_label -> "User name")
        @helper.inputPassword(userForm("password"), '_label -> "password")
        @helper.inputText(userForm("firstName"), '_label -> "First name", '_showConstraints -> false)
        @helper.inputText(userForm("lastName"), '_label -> "Last name", '_showConstraints -> false)
        @helper.inputText(userForm("emailAddress"), '_label -> "email address")

        <input type="submit">
    }
    <a href="@routes.HomeController.index()">Back</a>

}