@(userForm: Form[models.UserFormData])(implicit messages: Messages)
<!--Takes a form a message (to allow use of form to pass message to controller)-->
@main("Input new user"){

    @helper.form(action = routes.HomeController.addUser){
        @helper.inputText(userForm("firstName"), '_label -> "First name", '_showConstraints -> false)
        @helper.inputText(userForm("lastName"), '_label -> "Last name", '_showConstraints -> false)
        @helper.inputText(userForm("emailAddress"), '_label -> "email address", '_showConstraints -> false)

        <input type="submit">
    }

}