@(ventures: Seq[Venture], sessionKey: String)(implicit request: RequestHeader)
@main("Choose a venture to bid on"){
    <h4>Click on a venture to bid on</h4>
    <ul>
        @for(venture <- ventures){
            <ul class="list-unstyled">
                <h3>@venture.name</h3>
                <li>
                    <div class="container">
                        <table data-list="@routes.HomeController.getPrice(venture.id)"></table><ul class="nav"></ul>
                    </div>
                </li>
                <li>
                    <div class="container">
                        <a href="@routes.HomeController.bidOnVenture(venture.id, sessionKey)">Bid on this</a>
                    </div>

                </li>
            </ul>
        }
    </ul>
}