@(title: String)
@main(title){
    <body>
        <script src="@routes.Assets.versioned("javascripts/main.js")" type="text/javascript"></script>

        <script src="@routes.AjaxController.javascriptRoutes" type="text/javascript" ></script>
        <div class="input">
            <form>
                <input type="text" id="inputBox"><input type="submit" id="selectVenture" value="Search">
            </form>
        </div>
        <div class="screenshot">
            <div class="navbar navbar-fixed-top">
                <div class="navbar-inner">
                    <div class="container">
                        <table data-list="@routes.HomeController.updateSearch("***")"></table>
                        <ul class="nav"></ul>
                    </div>
                </div>
            </div>
            <div class="container">
            </div>
        </div>
    </body>
}